/* by setting  everything in css to inline block and floating appropriately, this website is effectively mobile responsive. feel free to test this by hitting the mobile screen on the inspector */
body{
    display:inline-block;
}
.topics{
    max-width: 65%;
    display:inline-block;
    box-sizing: border-box;
    float:left;
}
.favorites{
    /* border-top: 8px solid grey; */
    clear:both;
    display: inline-block;
}
    .fav-buttons{
        margin: 0 auto;
    }
    .clear{
        display:block;
        margin: 0 auto;
        color:lightblue;
        background-color:grey;
    }

.topics-buttons{
    float:left;
    text-align:center;
    padding:4px;
    margin: 10px 10px;
    border: 4px solid grey;
    border-radius: 3px;
    color: lightblue;
    background-color:grey;
}
.user-stuff{
    max-width: 35%;
    box-sizing: border-box;
    float: right;
}
.submit{
    padding:10px;
    color: lightgreen;
    font-weight:bold;
    background-color: grey;
    float:right;
    margin-right:10px;
}
.user-search, .gif-number, .instructions{
    padding:4px;
    margin: 5px;
    float:right;
    color:black;
    background-color:lavenderblush;
    font-weight:bold;
}
body:hover{
    cursor:pointer;
}
.spacer{
    display:none;
    border: 5px solid grey;
}
.gif-dump{
    padding:5px;
    text-align:center;
clear: both;
display: inline-block;
}
.gif-div{
    margin: 0 10px;
}
.gif{
    background-color: cadetblue;
    padding:5px;
    margin: 5px;
    border:1px solid black;
    border-radius: 3px;
}
