
.topics{
    max-width: 65%;
    display:inline-block;
    box-sizing: border-box;
    float:left;
}
    

.topics-buttons{
    float:left;
    text-align:center;
    padding:4px;
    margin: 10px 10px;
    border: 4px solid grey;
    border-radius: 3px;
    color: lightblue;
    background-color:grey;
}
.user-stuff{
    max-width: 35%;
    box-sizing: border-box;
    float: right;
}
.submit{
    padding:10px;
    color: lightgreen;
    font-weight:bold;
    background-color: grey;
    float:right;
    margin-right:10px;
}
.user-search, .gif-number, .instructions{
    padding:4px;
    margin: 5px;
    float:right;
    color:black;
    background-color:lavenderblush;
    font-weight:bold;
}
body:hover{
    cursor:pointer;
}
.gif-dump{
clear: both;
display: inline-block;
}
